<div class="row">
<div class="card col-md-5">

  <div class="card-header"> list of commandes</div>
  <div class="card-body">
    <table class="table table-hover table-sm">
      <thead><th>Reference</th><th>total</th><th>action</th></thead>
      <tbody>
      <tr *ngFor="let c of commandes">
        <td>{{c.reference}}</td>
        <td>{{c.total}}</td>
        <td><button (click)="findCommandeItemByReference(c)" class="btn btn-sm btn-outline-info fa fa-plus"></button> </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>


<div class="card col-md-7" *ngIf="commandeSelected!=null">
  <div class="card-header"> list of commandes {{commandeSelected.reference}}</div>
  <div class="card-body">
    <table class="table table-hover table-sm">
      <thead><th>Reference</th><th>prix</th><th>qte</th></thead>
      <tbody>
      <tr *ngFor="let c of commandeSelected.commandeItemVos">
        <td>{{c.referenceProduit}}</td>
        <td>{{c.prix}}</td>
        <td>{{c.qte}}</td>

      </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
